::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.12);
  background-color: rgb(206, 206, 206);
  outline: 1px solid slategrey;
}

.page-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
}

.filter{
	padding-left: 0%;
	padding-right: 0;
}

.bg {
	background-color:white;
}

